.buy-product {
  width: 300px;
  height: 60px;
  background-color: #08999c;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 80px;
}
.buy-product-1 {
  margin-left: 35px;
}
.buy-product:hover {
  background-color: #e3a963;
  cursor: pointer;
}
.buy-product:hover span {
  color: #08999c;
}
.buy-product:hover i {
  color: #08999c;
}
.buy-product i {
  font-size: 30px;
  margin-top: 10px;
}
.buy-product span {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}
.details-product-body {
  margin: 40px 0px 40px 0px;
}

.details-product-name {
  text-align: center;
  color: #08999c;
  font-size: 25px;
  font-weight: 700;
}
.details-product-img {
  text-align: center;
}
