.wrap-category-min {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #08999c;
  display: table;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px 10px 0px 0px;
}
.wrap-category {
  width: 100%;
  border: 1px solid #08999c;
  display: table;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 10px 10px 0px 0px;
}
.item-category {
  display: table-cell;
  height: 57px;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #08999c;
}
.item-category:last-child {
  border-right: none;
  border-top-right-radius: 10px;
}
.item-category:first-child {
  border-top-left-radius: 10px;
}
.wrap-category:hover {
  cursor: pointer;
}
.item-category span {
  font-weight: 500;
  font-size: 17px;
  color: #08999c;
}
.item-category:hover {
  background-color: #08999c;
  transition: all 300ms;
}
.item-category:hover span {
  color: white;
}

.active {
  background-color: #08999c;
}
.active span {
  color: white;
}
