.wrap-banner-screens {
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 30px;
}

.wrap-banner-screens .banner-img {
  width: 100%;
  height: 100%;
}

.wrap-banner-screens .banner-img img {
  object-fit: cover;
}
.banner-bg {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
}
.banner-name {
  font-weight: 700;
  font-size: 40px;
  color: white;
}
.banner-content {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  top: 20%;
}
.img-banner {
  margin-top: 30px;
}
